
body {
    display:flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100vw;
    min-height: 100vh;
    line-height: 177px;
    margin: 0 auto;
    text-align: center;
    font-size: 1em;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/BYH8wY9hit6yxode/videoblocks-white-texture-hexagon-moving-background_hqlw-rcq5g_thumbnail-full01.png");
}

header {
    width: 100vw;
    margin: 0 auto;
    overflow: hidden;
    background: #fefffd;
    border-bottom: 2px solid #ccc;

}

header::before {
    content: "masthead";
    float: left;
    padding: 24px;
    visibility: hidden;
}



#logo {
    float: left;
    padding: 40px;
    background: #4aaaa5;
    color: white;
}

nav {
    margin-top: 20px;
    margin-right: 160px;
    float: right;
}




li {
    float: left;
    margin: 0 auto;
    padding-top: 20px;
    background: #fefffd;
}

#about, #portfolio {
    border-right-color: #ccc;
    border-right-width: 2px;
    border-right-style: solid;
    padding: 5px;
}

#contact {
    padding: 5px;
}

a {
    text-decoration: none;
    color: #777;
}

aside {
    border-bottom: 2px solid #ddd;
    margin: 0 20px;
}

h1 {
    color: #4aaaa5;
    font-size: 1.5em;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

img {
    float: left;
    clear: both;
    margin: 20px;
    width: 230px;
    height: 154px;
}

article {
    padding: 2px 20px;
    text-align: left;
    font-family: 'Raleway', sans-serif;
}

section {
    background: #fefffd;
    width: 960px;
    margin: 10px auto;
    clear: both;
    position: relative;
    flex: 1;
    clear: both;
    text-align: left;
   
}

footer {
    background: #666;
    padding: 20px;
    border-top: 7px solid #4aaaa5;
    padding-bottom: 5px;
    color: #ddd;
    position: relative;
    bottom: 0;
    width: 100vw;
}

form {
    padding: 20px;
}

textarea {
    width: 99.5%;
    height: 20vh;
}

.crystalgame {

    line-height: unset;
    padding-top: 0px;
    padding-bottom: 170px;
}




@media screen and (max-width: 640px) {
    #name {padding: 40px 0;
    color: white;
    width: 100vw;
    float: none;
    }

    header::before {
    content: "";
    float: none;
    padding: 0px;
    }

    nav {
    margin-top: 0px;
    margin-right: 0px;
    float: none;
    padding: 0 33vw;
    }

    #about, #portfolio, #contact {
    border-right-color: white;
    border-right-width: 0px;
    border-right-style: none;
    padding: 10px;
    }

    section {
    background: #fefffd;
    width: 100vw;
    margin: 10px auto;
    clear: both;
    position: relative;
    flex: 1;
    clear: none;
    text-align: center;   
    }

    aside {
    border-bottom: 2px solid #ddd;
    margin: 0 20px;
    text-align: left;
    }

    img {
    float: none;
    margin: 10px;
    width: 260px;
    height: 230px;
    }

    form {
    padding: 20px 40px;
    text-align: left;
    }

    figcaption a {
    color: #fff;
    background: #4aaaa5;
    bottom: 50px;
    left: 0px;
    position: relative;
    padding: 4px 113px;
    }

    figure {
    float: none;
    margin: 0px;
    padding-right: 0px;
    }
}

@media screen and (max-width: 768px) and (min-width:641px){
    header::before {
    content: "";
    float: left;
    padding-left: 10px;
    }

    nav {
    margin-top: 20px;
    margin-right: 0px;
    float: right;
    }

    section {
    background: #fefffd;
    width: 77vw;
    margin: 5vw 12vw;
    clear: both;
    position: relative;
    flex: 1;
    clear: none;
    text-align: center;   
    }

    form {
    padding: 20px;
    text-align: left;
}


}

@media screen and (max-width: 980px) and (min-width:769px) {
    nav {margin-top: 20px;
        margin-right: 0px;
        float: right;
    }

    header::before {
    content: " ";
    float: left;
    padding: 5vw;
    visibility: hidden;
    }

    section {
    background: #fefffd;
    width: 60vw;
    margin: 5vw 10vw 20vw 10vw;
    clear: none;
    position: relative;
    flex: 1;
    clear: both;
    text-align: left;
    }



    
}
